//FONTS 

$font-post: 'Bodoni Moda', serif; 
$font-default: 'Exo', sans-serif;
$font-header: 'Prompt', sans-serif;

$default-font-size: 1.6rem;

//COLORS 

$color-primary-light: #de7254;
$color-primary: #db6443;
$color-primary-dark-1: #d85531;
$color-primary-dark-2: #ce4b27;
$color-secondary-light: #7b868e; 
$color-secondary: #727d85; 
$color-secondary-dark-1: #6e7981; 
$color-secondary-dark-2: #69747c; 

$color-white: #ebebeb; 
$color-whiter: #fff;
$color-black: #0e1111; 

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray: #777;
$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

