.header {
    height: 90vh;
    background-image: linear-gradient(
        to left bottom, 
        rgba($color-primary-light, .6), 
        rgba($color-primary-dark-2, .6)),
        url(./imgs/header.jpg);
        background-size: cover;
        position: relative;

        &__group{
            position: absolute;
            top: 40rem; 
            left: 10rem; 
        }

        &__main{
            color: $color-white; 
            font-weight: 300;
            font-family: $font-header;
            font-size: 10rem;
            letter-spacing: .75rem;

            position: absolute;
            top: 40rem; 
            left: 10rem;
        }

        &__subtext{
            position: absolute;
            top: 53rem;
            left: 50rem; 
            font-size: 3.5rem;
            letter-spacing: .25rem;
        }
}