.header {
    height: 90vh;
    background-image: linear-gradient(
        to left bottom, 
        rgba($color-primary-light, .6), 
        rgba($color-primary-dark-2, .6)),
        url(./imgs/header.jpg);
        background-size: cover;
        position: relative;

        &__group{
            position: absolute;
            top: 50rem; 
            left: 40rem; 
        }
}