.nav {
    height: 75vh; 
    display: grid; 
    grid-template-columns: repeat(3, minmax(26.5rem, 1fr));
    justify-content: center;
    align-content: center;
    gap: 1.5rem; 

    &__link{
        text-decoration: none;
        display: grid; 
        grid-template-rows: repeat(2, .75fr);
        border-radius: 3px;
        color: $color-gray-dark-2
    }

    &__content{
        grid-row: 1 / 2;
        align-self: center;
    }

    &__img{
        height: 16rem; 
        width: 26.5rem;
        grid-row: 2 / 3;
    }
}