body {
    font-family: $font-default; 
    font-weight: 500;
    line-height: 1.7;
    color: $color-gray-dark-2; 
}

.heading-primary{
    color: $color-white; 
    font-weight: 300;
    font-family: $font-header;
    font-size: 10rem;
    letter-spacing: .5rem;
}

.heading-secondary {
    font-size: 4rem;
    font-family: $font-header;
    letter-spacing: .5rem;
    color: $color-white;
}




.emphasis {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1rem;
    color: $color-white;
}