@keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

body {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #ebebeb;
  font-weight: 300;
  font-family: "Prompt", sans-serif;
  font-size: 10rem;
  letter-spacing: .5rem; }

.header {
  height: 90vh;
  background-image: linear-gradient(to left bottom, rgba(222, 114, 84, 0.6), rgba(206, 75, 39, 0.6)), url(./imgs/header.jpg);
  background-size: cover;
  position: relative; }
  .header__group {
    position: absolute;
    top: 40rem;
    left: 10rem; }
  .header__main {
    color: #ebebeb;
    font-weight: 300;
    font-family: "Prompt", sans-serif;
    font-size: 8rem;
    letter-spacing: .75rem;
    text-transform: uppercase;
    position: absolute;
    top: 44rem;
    left: 10rem;
    animation: slide-in-blurred-tl 1.2s ease-in-out; }
  .header__subtext {
    position: absolute;
    top: 54rem;
    left: 50rem;
    font-size: 3.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    animation: slide-in-blurred-right 1.2s ease-in-out; }

.home {
  background-color: #f7f7f7; }
