@keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

body {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #ebebeb;
  font-weight: 300;
  font-family: "Prompt", sans-serif;
  font-size: 10rem;
  letter-spacing: .5rem; }

.heading-secondary {
  font-size: 4rem;
  font-family: "Prompt", sans-serif;
  letter-spacing: .5rem;
  color: #ebebeb; }

.emphasis {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1rem;
  letter-spacing: .17rem;
  color: #ebebeb; }

.about {
  height: 80vh;
  margin-bottom: 15rem;
  background-image: linear-gradient(rgba(222, 114, 84, 0.9), rgba(206, 75, 39, 0.9));
  position: relative; }
  .about__content {
    position: absolute;
    top: 8rem;
    padding: 4rem; }
  .about__curve {
    width: 50%;
    height: auto;
    min-width: 2rem;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle(); }
  .about p {
    font-size: 2.75rem;
    color: #69747c; }

.definition {
  height: 80vh;
  margin-top: 15rem;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .definition__title {
    font-family: "Prompt", sans-serif;
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: #333;
    grid-column: 2 / 4;
    justify-self: center;
    align-self: end; }
  .definition__quote {
    font-family: "Bodoni Moda", serif;
    font-size: 2rem;
    font-weight: 500;
    color: #999;
    grid-column: 1 / 4;
    padding: 4rem;
    margin-top: -7rem; }

.footer {
  height: 65vh; }

.header {
  height: 90vh;
  background-image: linear-gradient(to left bottom, rgba(222, 114, 84, 0.6), rgba(206, 75, 39, 0.6)), url(./imgs/header.jpg);
  background-size: cover;
  position: relative; }
  .header__group {
    position: absolute;
    top: 40rem;
    left: 10rem; }
  .header__main {
    color: #ebebeb;
    font-weight: 300;
    font-family: "Prompt", sans-serif;
    font-size: 8rem;
    letter-spacing: .75rem;
    text-transform: uppercase;
    position: absolute;
    top: 44rem;
    left: 10rem;
    animation: slide-in-blurred-tl 1.2s ease-in-out; }
  .header__subtext {
    position: absolute;
    top: 54rem;
    left: 50rem;
    font-size: 3.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    animation: slide-in-blurred-right 1.2s ease-in-out; }

.nav {
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(15vw, 1fr));
  justify-content: center;
  align-content: center;
  gap: 1rem;
  padding: 3rem;
  margin-top: -5rem; }
  .nav__card:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(14, 17, 17, 0.35); }
  .nav__card:active {
    box-shadow: 0 1rem 1rem rgba(14, 17, 17, 0.15);
    transform: translateY(0); }
  .nav__link {
    text-decoration: none;
    display: grid;
    grid-template-rows: 15rem 15rem;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1.25rem;
    color: #333;
    border: solid 0.5px #999;
    box-shadow: 0 1.5rem 4rem rgba(14, 17, 17, 0.25); }
  .nav__content {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    align-self: center; }
  .nav__text {
    font-size: 1.23rem; }
  .nav__img {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.home {
  background-color: #f7f7f7; }
